#post-it {
    position: absolute;
    border: 1x solid red;
    top: 150px;
    left: 760px;
    width: 239px;
    height: 243px;
    background: url(/images/postit.png) no-repeat 0 0;
    display: none;
}
